:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* For webkit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 5px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #462584;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: darkviolet;
  }

  /* For Firefox */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
